body {
  display: flex;
  align-items: center;
  background-color: #fff;
  color: #008000;
  font-family: Arial, sans-serif;
  text-align: center;
}

h1, p {
  transition: color 1s;
  position: absolute;
}

h1 {
  font-size: 100px;
  margin: 0.5em 0;
  color: #008000;
  top: 30%;
  left: 20%;
}

h1:hover {
  color: red;
}

p {
  font-size: 50px;
  margin: 0.5em 0;
  color: #008000;
  top: 45%;
  left: 15%;
}

p:hover {
  color: red;
}

.new-year, .footer {
  color: #ff0000;
}

.footer {
  position: fixed;
  right: 25px;
  bottom: 15px;
  font-size: 15px;
}